@model WebApplication3.Models.Doctor
@{
    ViewBag.Title = "PatientInfo";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
@*
    show patient info for current doctor

*@
<h2>PatientInfo</h2>

<body>
    <head>
        Welcome Doctor @Session["DoctorLoggedIn"]
    </head>
    <br />
    PatientInfo:
    <br />
    <table class="table">
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Age </th>
            <th> ID </th>
            <th> Phone </th>
            <th> Email </th>
        </tr>
        @foreach (var item in ViewBag.TempUser)
        {
            <tr>
                <td>@item.FirstName  </td>
                <td>@item.LastName </td>
                <td>@item.Age </td>
                <td>@item.ID </td>
                <td>@item.Phone </td>
                <td>@item.Email </td>
                <td></td>
            </tr>

        }




    </table>

    <br />
