@model WebApplication3.Models.User
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Enter";
}
@*
    enter new user details using jquerry.    

*@

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
    }

        .alert.success {
            background-color: #4CAF50;
        }

        .alert.info {
            background-color: #2196F3;
        }

        .alert.warning {
            background-color: #ff9800;
        }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



<h2>Enter</h2>

@{
    if (@ViewBag.DuplicateUser == true)
    {
        <h2>Alert Messages</h2>
        <div class="alert">
            <span class="closebtn">&times;</span>
            <strong>User name already in use,try a diffrent one!</strong>
        </div>
    }

}
        <script>
            var close = document.getElementsByClassName("closebtn");
            var i;

            for (i = 0; i < close.length; i++) {
                close[i].onclick = function () {
                    var div = this.parentElement;
                    div.style.opacity = "0";
                    setTimeout(function () { div.style.display = "none"; }, 600);
                }
            }
        </script>

<body>
    <div>
        @using (Html.BeginForm("Submit", "User", FormMethod.Post))
        {

            <table class="table">
                <tr>
                    <td>
                        <i>First Name </i>
                        @Html.TextBoxFor(m => m.FirstName) @Html.ValidationMessageFor(x => x.FirstName)
                    </td>
                    <td>
                        <i>Last Name</i>
                        @Html.TextBoxFor(m => m.LastName) @Html.ValidationMessageFor(x => x.LastName)
                    </td>
                    <td>
                        <i>ID</i>
                        @Html.TextBoxFor(m => m.ID) @Html.ValidationMessageFor(x => x.ID)
                    </td>
                    <td>
                        <i>Phone</i>
                        @Html.TextBoxFor(m => m.Phone) @Html.ValidationMessageFor(x => x.Phone)
                    </td>
                    <td>
                        <i>Age</i>
                        @Html.TextBoxFor(m => m.Age) @Html.ValidationMessageFor(x => x.Age)
                    </td>
                    <td>
                        <i>Password</i>
                        @Html.TextBoxFor(m => m.Password) @Html.ValidationMessageFor(x => x.Password)
                    </td>
                    <td>
                        <i>Email</i>
                        @Html.TextBoxFor(m => m.Email) @Html.ValidationMessageFor(x => x.Email)
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        @Html.MathCaptcha()
                        <p>@ViewBag.ErrorMessage</p>
                    </td>
                </tr>
                </table>







            <input id="Submit1" type="submit" value="Add User" />
        }

        @Html.ValidationSummary()





    </div>
</body>